.row {
  max-width: 945px;
  //   padding: 0 15px;
  margin: 0 auto;
}
.center {
  text-align: center;
}

.subtitle {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  &__span {
    color: #f4460e;
  }
}

.form-registaration {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 765px;

  #numberTop,
  #numberBottom {
    border-radius: 5px;
  }
  &__left,
  &__right {
    background: url("../../dist/images/arr-left.png") 50% 0 no-repeat;
    height: 56px;
    background-size: contain;
    width: 8%;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__right {
    background: url("../../dist/images/arr-right.png") 50% 0 no-repeat;
    background-size: contain;
  }
  &__center {
    margin-top: 30px;
    max-width: 585px;
    @media (max-width: 768px) {
      max-width: 100%;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__inner {
    max-width: 290px;
    width: 100%;
    padding: 0 15px;
    @media (max-width: 768px) {
      max-width: 100%;
      padding: 0;
    }
  }
  &__group {
    display: flex;
    max-width: 360px;
    width: 100%;
    margin-bottom: 15px;
    @media (max-width: 768px) {
      margin: 0;
      max-width: 100%;
      margin-bottom: 10px;
    }
    &-name,
    &-email {
      background: #eee url("../../dist/images/ico-name.png") center center
        no-repeat;
      padding: 12px 12px;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      color: #555;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 4px 0 0 4px;
      min-width: 35px;
    }
    &-email {
      background: #eee url("../../dist/images/ico-email.png") center center
        no-repeat;
    }
    &-input {
      display: inline-block;
      height: 50px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.4;
      color: #555;
      border: 1px solid #ccc;
      border-radius: 0 4px 4px 0;
      width: 100%;
      &:focus {
        border-color: #66afe9;
        outline: transparent;
        box-shadow: inset 0 1px 1px #66afe9, 0 0 8px #66afe9;
      }
    }
  }
  &__policy {
    color: #999;
    margin-top: 1em;
    display: inline-block;
    text-align: justify;
    font-size: 0.8em;
    padding: 0 15px;
    @media (max-width: 768px) {
      padding: 0;
    }
    &-link {
      text-decoration: none;
      color: #17d4fb;
      &:hover {
        color: #00a3d9;
        text-decoration: underline;
      }
    }
  }
  &__subscribe {
    display: block;
    max-width: 555px;
    width: 100%;
    background: linear-gradient(to bottom, #12d11b 0%, #069c0d 100%);
    min-height: 50px;
    margin: 20px auto 60px;
    padding: 10px;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6),
      inset 0 2px 0 0 rgba(255, 255, 255, 0.3);
    @media (max-width: 768px) {
      max-width: 100%;
      font-size: 14px;
    }
    &:hover {
      box-shadow: none;
    }
  }
}

.step {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin: 25px 0;
  background: url("../../dist/images/step-arrows.png") 46% 52px no-repeat;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    background: none;
  }
  &__item {
    max-width: 285px;
    padding: 0 15px;
    width: 100%;
    text-align: center;
    img {
      display: block;
      position: relative;
      margin: 18px auto;
      left: -16px;
    }
    &-text {
      max-width: 160px;
      width: 100%;
      margin: 0 auto;
    }
  }
}
.moneypack {
  margin-bottom: 30px;
  background: url("../../dist/images/moneypack.png") 0% 50% no-repeat;
  @media (max-width: 768px) {
    background: none;
  }

  &__vip-img {
    width: 100%;
  }
  &__welcom {
    display: flex;
    justify-content: space-between;
  }
  &__video {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__inner {
    border-radius: 8px;
    background: #d1d1d1;
    margin: 0 0 72px;
    position: relative;
    top: 5px;
    width: 80%;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    color: #1e2736;
    padding: 5px;
    &:after {
      content: "";
      position: absolute;
      bottom: 98%;
      left: 40px;
      width: 0;
      height: 0;
      border-bottom: 18px solid #d1d1d1;
      border-right: 18px solid transparent;
      border-left: 18px solid transparent;
    }
    @media (max-width: 768px) {
      width: 100%;
      font-size: 26px;
    }
  }
}
.quot-open {
  height: 60px;
  width: 60px;
  object-fit: contain;
  background: url("../../dist/images/quot-open.png") 100% 50% no-repeat;
  @media (max-width: 768px) {
    display: none;
  }
}
.quot-close {
  height: 60px;
  width: 60px;
  object-fit: contain;
  background: url("../../dist/images/quot-close.png") 100% 50% no-repeat;
  @media (max-width: 768px) {
    display: none;
  }
}
.video-review {
  width: 49%;
  text-align: center;
  @media (max-width: 768px) {
    width: 100%;
  }
  &__video {
    position: relative;
    box-shadow: none;
    width: 100%;
    margin: 25px 0 15px;
  }
  video {
    width: 100%;
    outline: none;
    height: 100%;
  }
  &__poster {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
  }
  &__name {
    font-size: 18px;
    font-weight: 800;
  }
  &__profit {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 1em;
  }
}
.how-works {
  background: url("../../dist/images/bg-data2.jpg") 50% 100% no-repeat;
  background-size: 100%;
  &__laptop {
    background: url("../../dist/images/laptop.png") 110% 50% no-repeat;
    @media (max-width: 768px) {
      background: none;
    }
  }
}
.checkbook {
  background: url("../../dist/images/checkbook.png") 0% 50% no-repeat;
  @media (max-width: 768px) {
    background: none;
  }
}
.faq {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding-left: 55px;
  &__item {
    position: relative;
    &:nth-child(1) {
      &:after {
        top: -7px;
        left: -55px;
        display: block;
        width: 34px;
        height: 34px;
        content: "";
        position: absolute;
        background: url("../../dist/images/faq-basic.png") 50% 50% no-repeat;
      }
    }
    &:nth-child(2) {
      &:after {
        top: -7px;
        left: -55px;
        display: block;
        width: 34px;
        height: 34px;
        content: "";
        position: absolute;
        background: url("../../dist/images/faq-money.png") 50% 50% no-repeat;
      }
    }
    &:nth-child(3) {
      &:after {
        top: -7px;
        left: -55px;
        display: block;
        width: 34px;
        height: 34px;
        content: "";
        position: absolute;
        background: url("../../dist/images/faq-safe.png") 50% 50% no-repeat;
      }
    }
    &:nth-child(4) {
      &:after {
        top: -7px;
        left: -55px;
        display: block;
        width: 34px;
        height: 34px;
        content: "";
        position: absolute;
        background: url("../../dist/images/faq-gears.png") 50% 50% no-repeat;
      }
    }
    &:nth-child(5) {
      &:after {
        top: -7px;
        left: -55px;
        display: block;
        width: 34px;
        height: 34px;
        content: "";
        position: absolute;
        background: url("../../dist/images/faq-cards.png") 50% 50% no-repeat;
      }
    }
  }
  &__title {
    display: inline-block;
    color: #02f2b4;
    font-weight: 700;
    position: relative;
    margin-bottom: 20px;
    font-size: 16px;
    border-bottom: dashed 1px #02f2b4;
  }
  &__answer {
    margin: 0 0 20px;
  }
}
.dashed {
  background: url("../../dist/images/dash.png") 50% 50% repeat-x;
}
.dashed span {
  padding: 5px;
  background: #1e2736;
  font-style: normal;
  @media (max-width: 768px) {
    width: 100%;
  }
}
.orange {
  color: #f4460e;
}
.form-bottom {
  .form-registaration__subscribe {
    margin-bottom: 20px;
  }
}
.trusted-bottom {
  .trusted__item {
    filter: grayscale(100%);
    opacity: 0.8;
  }
}
.counter-page-reg {
  .counter_peoples {
    left: 10px;
    bottom: 120px;
  }
  .counter__num_peoples {
    left: 0;
    right: auto;
  }
  .counter__label_peoples {
    padding-left: 35px;
    margin-left: 30px;
    margin-right: 0;
    padding-right: 0;
  }
}
